# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform lock file
.terraform.lock.hcl
# documents
*.doc

# Ignore specific PEM files
Day-14-provisioners-with-DB/Remote-Exec/my-key.pem
Day-14-provisioners/my-key.pem

# OR ignore ALL .pem files in the entire project
*.pem*.pem
